
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
}

.top {
    height: 330px;
    background-color: #1f2937;
    padding: 16px 100px 100px 100px;
}

.logo {
    height: 45px;
    width: auto;
    margin-right: 20px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}
a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.hero-text {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.hero-left {
    display: flex;
    flex-direction: column;
    flex-basis: 400px;
    gap: 12px;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-description {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 4px;
    width: 130px;
    border: none;
    padding: 5px 15px;
    font-weight: bold;
}

.main-image {
    width: 550px;
    height: 236.633px;
    object-fit: cover;
    object-position: 50% 25%;
    margin-left: 20px;
    border-radius: 4px;
    box-shadow: 0 0 5px 5px #211d1d;
}

.top-middle {
    height: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.gallery {
    display: flex;
    padding: 30px;
    gap: 30px;
}

.gallery-image {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
}

.panel {
    display: flex;
    flex-direction: column;
    max-width: 180px;
    flex-wrap: wrap;
    text-align: center;
    gap: 10px;
}

.random-info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.gallery-description {
    font-size: 18px;
    color: #989ea9;
}